#background {

	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:-1;

}

#text {
	
	font-family: 'PT Sans Narrow', Helvectica, sans-serif;

	margin-left:50px;
	margin-top:-75px;
	font-size:60px;

}

.blueText {
	
	color:#244c82;
	font-size: 120px;

}

#myCanvas {


margin-left: 50px;
margin-top: 20px;
border: dashed;

}

#audio {

	
	margin-left: 500px;
	margin-top: 70px;

}

